* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
}
.flex-item{
    width: 200px;
    height: 200px;
    background-color: red;
}
.short{
height: 300px;
}
.tall{
height: 550px;
}