*{
    box-sizing: border-box;
    /*padding: 0;
    margin: 0;*/
}
.product-card{
    border: 2px solid black;
    background-color: lightblue;
    padding: 20px;
    width: 30%;
    position: relative;
}
.product-card>p:last-child{
    width: 50%;
    padding: 10px;
    border: 5px solid black;
}
.product-card img{
    width: 60px;
    top: 10px;
    right: 10px;
    position: absolute;
}
.tall{

}
.maki{
    position: relative;
    width: 300px;
    right:0;
    top: 20px;
    left: 20px;
    z-index: 4;
    opacity: 40%;
    box-shadow: red 5px 5px 15px;
}
.maki1{
    position: relative;
    width: 300px;
    right:0;
    top: 50px;
    left: -250px;
    z-index: 3;
    opacity: 60%;
    box-shadow: red 5px 5px 15px;
}
.maki2{
    position: relative;
    width: 300px;
    right:0;
    top: 80px;
    left: -520px;
    opacity: 80%;
    z-index: 2;
    box-shadow: red 5px 5px 15px;
}
.maki3{
    position: relative;
    width: 300px;
    right:0;
    top: 110px;
    left: -790px;
    z-index: 1;
    box-shadow: red 5px 5px 15px;
}