* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
  width: 900px;
  height: 900px;
  margin: 0 auto;
  border: 1px solid darkgray;
  border-radius: 0.5rem;
  background-color: #e5e5e5;
}

.articles {
  width: 100%;
  padding: 1rem;
}

h2{
    color: #4078c0;
}
.pokenumber{
    color: #d1d5db;
    position: absolute;
    top: 0.25rem;
    right: 0.25rem;
}
.type{
    padding: 0.25rem;
    border-radius: 5px;
    color: white;
}
.grass{
    background-color: #78c850;
}
.fire{
    background-color: #f08030;
}
.flying{
    background-color: #a890f0;
}
.poison{
    background-color: #a040a0;
}
article{
    width: 260px;
    height: 90px;
    border-radius: 5px;
    border: 1px solid lightgray;
    background-color: white;
    margin: 0.5rem;
    position: relative;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    align-content: center;
    padding: 1rem;
}
article img{
    position: absolute;
    top: 1rem;
    right: 1rem;
}
.articles{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.typeoverview{
    margin-top: 0.5rem;
}