* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container {
    background-color: black;
    width: 100%;
    position: relative;
    display : flex;
    flex-direction: row-reverse;
}
.container>img{
    height: 25px;
    margin: 10px;
}
nav{
    display: flex;
    justify-content: space-between;
    img{
        width: 60px;
    }
    ul.left {
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;

        li {
            list-style: none;
            display: flex;
            a{
                text-decoration: none;
                color: black;
            }
        }
    }
    .right{
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;

        li {
            list-style: none;
            text-decoration: none;
            display: flex;
            a{
                text-decoration: none;
                color: black;
            }
        }
        .sign{
            border: 1px solid black;
            border-radius: 10px;
            background-color: #3F3F3F;
            color: white;
            padding-left: 5px;
            padding-right: 5px;
        }
    }


}

.banner{
    height:75vh;
    background-size: cover;
    background-position: center;
    background-image: url("assets/deel-1/hero-banner.png");
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    p{
        text-align: center;
        max-width: 45%;
    }
    a{
        text-decoration: none;
        background-color: orange;
        border-radius: 25px;
        padding: 12px 16px;
        color: white;
    }
}