/*
table, td, tr, th{
    border: 1px black solid;
    border-collapse: collapse;
}
caption{
    caption-side: bottom;
}*/

/**{
    color: white;
}
table, th, td{
    border: 2px solid black;
    border-collapse: collapse;
    font-family: Roboto;
}
td{
    width: 110px;
    text-align: center;
}
thead{
    background-color: #27426d;
}
body{
    background-color: #c7ced8;
}
tbody{
    tr:nth-child(even){
        background-color: #4f8cef;
    }
    tr:nth-child(odd){
        background-color: #6facff;
    }
}
tfoot{
    background-color: #27426d;
}*/

td{
    width: 50px;
    height: 50px;
}
tr:nth-child(odd) td:nth-child(odd) {
    background-image: url("/Tabellen/assets/witte-marmer.jpg");
}
tr:nth-child(odd) td:nth-child(even) {
    background-image: url("/Tabellen/assets/zwarte-marmer.jpg");
}
tr:nth-child(even) td:nth-child(odd) {
    background-image: url("/Tabellen/assets/zwarte-marmer.jpg");
}
tr:nth-child(even) td:nth-child(even) {
    background-image: url("/Tabellen/assets/witte-marmer.jpg");
}
table, td{
    border: 2px solid darkred;
    border-collapse: collapse;
}
table{
    display: inline-block;
}
td{
    text-align: center;
}
section{
    display: inline-block;
    border: 2px solid darkred;
    background-image: url("/Tabellen/assets/witte-marmer.jpg") ;
    float: right;
    width: 200px;
    margin-left: 50px;
    padding : 20px;
    height: 300px;
}
div{
    display: inline-block;
}
body{
    background-image: url("/Tabellen/assets/hout.jpg");
}

/*
td{
    border: 2px solid black;
    border-collapse: collapse;
    width: 100px;
    height: 100px;
}
table{
    border-collapse: collapse;
}
tr:first-child td:first-child{
    background-color: green;
}
tr:first-child td:last-child{
    background-color: red;
}
tr:last-child td:last-child{
    background-color: yellow;

}
tr:nth-child(even) td:first-child{
    background-color: blue;
}
tr:nth-child(even) td:nth-child(2n){
    background-color: red;
}
tr:nth-child(even) td:nth-child(3n){
    background-color: yellow;
}
tr:nth-child(3n) td:first-child{
    background-color: green;
}*/
