* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: red;
}

@media screen and (min-width: 600px) and (max-width: 1200px) {
    body{
        background: orange;
    }
}

@media screen and (min-width: 1200px) {

}