* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'SST', sans-serif;
}

.ps-h1,
.ps-h2 {
    font-weight: 300;
    margin-bottom: 0.5rem;
}

.ps-subtitle {
    color: grey;
}

.ps-btn-primary {
    text-decoration: none;
    background-color: #0070CCFF;
    color: white;
    border-radius: 25px;
    padding: 6px 16px;
}

.nav-header {
    background-color: black;
    height: 4vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    .nav-header-logo {
        height: 40%;
        margin-right: 10px;
    }

}

.main-nav {
    height: 8vh;
    display: flex;
    justify-content: space-between;

    .main-nav-left {
        display: flex;
        align-items: center;
        margin-left: 10px;
        gap: 10px;

        .main-nav-logo-link {
            height: 60%;

            .main-nav-logo {
                height: 100%;
            }
        }


        ul {
            display: flex;
            gap: 5%;
            list-style-type: none;

            .nav-link {
                color: black;
                text-decoration: none;
            }
        }
    }

    .main-nav-right {
        display: flex;
        align-items: center;
        gap: 10px;

        .sign-in-link {
            background-color: #1c1919;
            color: white;
            text-decoration: none;
            border-radius: 25px;
            padding: 3px 12px;
        }

        .search-icon {
            margin-right: 10px;
        }
    }
}

.hero-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 73vh;
    background-image: url("./assets/deel-1/hero-banner.png");
    background-size: cover;
    background-position: center;
    color: white;
    gap: 5vh;
    padding: 6vh;

    p {
        max-width: 65vh;
        text-align: center;
    }

    .shopping-link {
        background-color: orangered;
    }
}

.introduction {
    padding: 2rem 5rem;

    .introduction-top {
        display: flex;
        flex-direction: column;
        align-items: center;

        .play {
            color: deepskyblue;
            font-weight: bold;
            letter-spacing: 2px;
        }

    }

    .introduction-middle {
        display: flex;

        .introduction-middle-left {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: 1rem;

            h2{
                margin-bottom: 0;
            }
        }

        img{
            width: 45%;
            margin-left: 7%;
        }
    }
    .introduction-bottom {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3rem;
        a{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-decoration: none;
            color: gray;
            img{
                width: auto;
                height: 140px;
            }

            p{

            }
        }

    }
}
.shop-Part{
    .Horizon{
        background-image: url("./assets/deel-3/horizon-banner.png");
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        background-size: cover;
        background-position: center;
        color: white;
        gap: 5vh;
        padding: 6vh;
        p{
            max-width: 50vh;
        }
        .HorizonPreOrder{
            background-color: orangered;
            color: white;
            text-decoration: none;
            padding: 5px 12px;
            border-radius: 15px;
        }

    }
    .ShopFeed{
        background-color: black;
        color: white;
        .ShopFeed-center{
            width: 85%;
            display: flex;
            flex-direction: column;
            margin:auto;

        }
        .ShopFeed-ShopList{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 85%;
            margin:auto;
            gap: 2rem;
            .ShopFeed-images{
                display: flex;
                flex-direction: column;
                img{
                    width: 150px;
                    height: 150px;
                    border-radius: 10px;
                }
                p{
                    width: 150px;
                }
            }
        }

     }
}

